$black: #333;
$green: #0FD482;
$white: #fff;
$dark-green: #09784a;

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: $black;
  position: relative;
  background: #eee;
	padding: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, sans-serif;
  color: $dark-green;
}

a {
  color: $green;

  &:visited {
    color: #69B373;
  }
}

$margin-small: 10px;
$margin-big: 20px;
$margin-flex: 5%;

.jumbotron {
  padding: $margin-big $margin-flex;
  background: $green url("/images/green-gradient.png") repeat-x right bottom;
  display: block;

  h1 {

    a {
      display: block;
      height: 110px;
      background: url("/images/logo-green.png") no-repeat 0 5px;
      padding-left: 120px;
      color: #93f0cb;
      text-decoration: none;
			text-shadow: 0 -1px 0 $white, 0 3px 4px $dark-green;
      font-size: 90px;

      @media (max-width: 767px) {
        font-size: 60px;
        height: 90px;
        padding-top: 20px;
      }

      @media (max-width: 480px) {
        font-size: 40px;
        height: 80px;
        padding-top: 30px;
      }

      @media (max-width: 320px) {
        font-size: 26px;
        height: 70px;
        padding-top: 40px;
      }
    }
  }
} 

.wrapper {
	padding: $margin-small $margin-flex $margin-big $margin-flex;
	border-top: solid 1px $white;
	border-bottom: solid 1px #ddd;
	background: $white url("/images/white-gradient.png") repeat-x left -10px;
	
  h2 {
    font-weight: bold;
    font-size: 40px;
    margin: $margin-small 0;

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    margin: $margin-small 0;
  }

  .cities {
		h2 {
			margin-left: $margin-small;
			font-weight: normal;
			color: #777;
		}
    ul {
      $city-size: 18px;
			$border: 1px solid #e3e3e3;
      list-style: none;
			border: $border;
			border-radius: 10px;
			overflow: hidden;
			background-color: $white;
			margin-bottom: $margin-big * 2;
	
      li {
        font-size: $city-size;
        margin: 0;

        a {
          display: block;
					padding: 5px 25px 5px $margin-small;
          text-decoration: none;
					border-top: $border;
					background: transparent url("/images/city-arrow.png") no-repeat right center;
					
					&:hover {
						background: {
							color: $green;
							image:  url("/images/city-arrow-hover.png"), url("/images/green-gradient.png");
							repeat: no-repeat, repeat-x;
							position: right center, left bottom;
						}
						color: $white;
						border-top-color: $green;
					}
					
					&:active {
						background: {
							color: $green;
							image:  url("/images/city-arrow-hover.png"), url("/images/green-gradient.png");
							repeat: no-repeat, repeat-x;
							position: right center, left top;
						}
					}

          small {
            color: $black;
            font-size: $city-size / 2;
          }
        }

				&:first-child a {
					border: none;
				}

      }
    }
  }

  .main {
    $para-size: 16px;

    p, li {
      font-size: $para-size;
      line-height: $para-size + 8px;
    }

    p {
      margin: 15px 0;
    }
		ul, ol {
			padding-left: $margin-big;
		}
    li {
      margin: $margin-small 0;
      @media (max-width: 480px) {
        font-size: $para-size / 1.2;
      }
    }

    img {
      max-width: 80%;
    }
  }
}

.footer {
	margin: 5px $margin-flex;

  ul li {
    display: inline-block;
    margin: 3px 20px 3px 0;
		color: $dark-green;
  }
}
