$black: #333;
$green: #0FD482;
$white: #fff;
$dark-green: #09784a;

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: $black;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  color: $dark-green;
}

a {
  color: $green;

  &:visited {
    color: #69B373;
  }
}

$margin-small: 10px;
$margin-big: 20px;

@mixin flexible-left {
  margin-left: $margin-big;

  @media (max-width: 480px) {
    margin-left: $margin-small;
  }
}

.jumbotron {
  padding: $margin-big 0;
  background: $green url("/images/green-gradient.png") repeat-x left bottom;
  display: block;

  h1 {
    @include flexible-left;

    a {
      display: block;
      height: 110px;
      background: url("/images/logo-green.png") no-repeat 0 5px;
      padding-left: 120px;
      color: #93f0cb;
      text-decoration: none;
			text-shadow: 0 -1px 0 $white, 0 3px 4px $dark-green;
      font-size: 90px;

      @media (max-width: 767px) {
        font-size: 60px;
        height: 90px;
        padding-top: 20px;
      }

      @media (max-width: 480px) {
        font-size: 40px;
        height: 80px;
        padding-top: 30px;
      }

      @media (max-width: 320px) {
        font-size: 26px;
        height: 70px;
        padding-top: 40px;
      }
    }
  }
}

.wrapper {
	padding-top: $margin-small;
	border-top: solid 1px $white;
	background: $white url("/images/white-gradient.png") repeat-x left top;
}

.index {
  @include flexible-left;
	
  h2 {
    font-weight: bold;
    font-size: 40px;
    margin: $margin-small 0;

    @media (max-width: 480px) {
      font-size: 30px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    margin: $margin-small 0;
  }

  .cities {
    ul {
      $city-size: 24px;
      list-style: none;

      li {
        font-size: $city-size;
        margin: 10px 0;

        @media (max-width: 480px) {
          font-size: $city-size / 1.2;
        }

        a {
          display: block;
          text-decoration: none;

          small {
            color: $black;
            font-size: $city-size / 2;
          }
        }
      }
    }
  }

  .main {
    $para-size: 16px;

    p, li {
      line-height: $para-size + 5px;
    }

    p {
      font-size: $para-size - 2px;
      margin: 15px 0;
    }

    li {
      font-size: $para-size;
      margin: 10px 0;

      @media (max-width: 480px) {
        font-size: $para-size / 1.2;
      }
    }

    img {
      $border: 10px;

      border: $border solid #0FD482;
      border-radius: $border;
      -moz-border-radius: $border;
      -webkit-border-radius: $border;

      max-width: 80%;
    }
  }
}

.footer {
  @include flexible-left;
  margin-top: 30px;
  margin-bottom: 5px;

  ul li {
    display: inline-block;
    margin: 3px 20px 3px 0;
  }
}
