body {
  font-family: 'Raleway', sans-serif;
  background: #fff;
  color: black;
  position: relative; }

a {
  color: #0fd482; }
  a:visited {
    color: #69B373; }

.jumbotron {
  padding: 20px 0;
  margin-bottom: 10px;
  background: #0fd482;
  display: block; }
  .jumbotron h1 {
    margin-left: 20px; }
    @media (max-width: 480px) {
      .jumbotron h1 {
        margin-left: 10px; } }
    .jumbotron h1 a {
      display: block;
      height: 110px;
      background: url("/images/logo.png") no-repeat 0 5px;
      padding-left: 120px;
      color: black;
      text-decoration: none;
      font-size: 90px; }
      @media (max-width: 767px) {
        .jumbotron h1 a {
          font-size: 60px;
          height: 90px;
          padding-top: 20px; } }
      @media (max-width: 480px) {
        .jumbotron h1 a {
          font-size: 40px;
          height: 80px;
          padding-top: 30px; } }

.index {
  margin-left: 20px; }
  @media (max-width: 480px) {
    .index {
      margin-left: 10px; } }
  .index h2 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px 0; }
    @media (max-width: 480px) {
      .index h2 {
        font-size: 30px; } }
  .index .cities ul {
    list-style: none; }
    .index .cities ul li {
      font-size: 24px;
      margin: 10px 0; }
      @media (max-width: 480px) {
        .index .cities ul li {
          font-size: 20px; } }
      .index .cities ul li a {
        display: block;
        text-decoration: none; }
        .index .cities ul li a small {
          color: black;
          font-size: 12px; }
  .index .tenets p, .index .tenets li {
    line-height: 21px; }
  .index .tenets p {
    font-size: 14px;
    margin: 15px 0; }
  .index .tenets li {
    font-size: 16px;
    margin: 10px 0; }
    @media (max-width: 480px) {
      .index .tenets li {
        font-size: 13.33333px; } }

.footer {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 5px; }
  @media (max-width: 480px) {
    .footer {
      margin-left: 10px; } }
  .footer ul li {
    display: inline-block;
    margin: 3px 20px 3px 0; }
