body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333333;
  position: relative;
  background: #eee;
  padding: 0 !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #09784a; }

a {
  color: #0fd482; }
  a:visited {
    color: #69B373; }

.jumbotron {
  padding: 20px 5%;
  background: #0fd482 url("/images/green-gradient.png") repeat-x right bottom;
  display: block; }
  .jumbotron h1 a {
    display: block;
    height: 110px;
    background: url("/images/logo-green.png") no-repeat 0 5px;
    padding-left: 120px;
    color: #93f0cb;
    text-decoration: none;
    text-shadow: 0 -1px 0 white, 0 3px 4px #09784a;
    font-size: 90px; }
    @media (max-width: 767px) {
      .jumbotron h1 a {
        font-size: 60px;
        height: 90px;
        padding-top: 20px; } }
    @media (max-width: 480px) {
      .jumbotron h1 a {
        font-size: 40px;
        height: 80px;
        padding-top: 30px; } }
    @media (max-width: 320px) {
      .jumbotron h1 a {
        font-size: 26px;
        height: 70px;
        padding-top: 40px; } }

.wrapper {
  padding: 10px 5% 20px 5%;
  border-top: solid 1px white;
  border-bottom: solid 1px #ddd;
  background: white url("/images/white-gradient.png") repeat-x left -10px; }
  .wrapper h2 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px 0; }
    @media (max-width: 480px) {
      .wrapper h2 {
        font-size: 30px; } }
  .wrapper h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0; }
  .wrapper .cities h2 {
    margin-left: 10px;
    font-weight: normal;
    color: #777; }
  .wrapper .cities ul {
    list-style: none;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 40px; }
    .wrapper .cities ul li {
      font-size: 18px;
      margin: 0; }
      .wrapper .cities ul li a {
        display: block;
        padding: 5px 25px 5px 10px;
        text-decoration: none;
        border-top: 1px solid #e3e3e3;
        background: transparent url("/images/city-arrow.png") no-repeat right center; }
        .wrapper .cities ul li a:hover {
          background-color: #0fd482;
          background-image: url("/images/city-arrow-hover.png"), url("/images/green-gradient.png");
          background-repeat: no-repeat, repeat-x;
          background-position: right center, left bottom;
          color: white;
          border-top-color: #0fd482; }
        .wrapper .cities ul li a:active {
          background-color: #0fd482;
          background-image: url("/images/city-arrow-hover.png"), url("/images/green-gradient.png");
          background-repeat: no-repeat, repeat-x;
          background-position: right center, left top; }
        .wrapper .cities ul li a small {
          color: #333333;
          font-size: 9px; }
      .wrapper .cities ul li:first-child a {
        border: none; }
  .wrapper .main p, .wrapper .main li {
    font-size: 16px;
    line-height: 24px; }
  .wrapper .main p {
    margin: 15px 0; }
  .wrapper .main ul, .wrapper .main ol {
    padding-left: 20px; }
  .wrapper .main li {
    margin: 10px 0; }
    @media (max-width: 480px) {
      .wrapper .main li {
        font-size: 13.33333px; } }
  .wrapper .main img {
    max-width: 80%; }
  .wrapper .main code {
    border: 1px solid #aaa;
    background: #eee;
    padding: 1px 3px;
    border-radius: 4px;
    white-space: nowrap; }

.footer {
  margin: 5px 5%; }
  .footer ul li {
    display: inline-block;
    margin: 3px 20px 3px 0;
    color: #09784a; }
