<!doctype html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <title>{{ page.title }}</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/javascripts/markerclusterer_packed.js"></script>
  <script type="text/javascript" src="/javascripts/infobox_packed.js"></script>
  <script type="text/javascript" src="/javascripts/google_map.js"></script>
  <script type="text/javascript" src="/javascripts/city_dropdown.js"></script>
</head>

<body>

  <header class="jumbotron">
    <div class="container">
      <h1><a href="/">OpenHack</a></h1>
    </div>
  </header>

  <div class="wrapper">
    <div class="row-fluid">
      <div class="cities span3" id="menu_wrapper">
        <h2 id="menu_header">Cities</h2>
        <div id="menu">
          <ul id="cities">
            <li><a href="/yours">Your City?</a></li>
            {% for city in site.cities %}
              <li class="city" id="{{city.first.first}}" data-latitude="{{city.first.last.latitude}}" data-longitude="{{city.first.last.longitude}}">
                <a href="/{{ city.first.first }}">{{ city.first.last.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="main span8 offset1">
        {{ content }}
      </div>
    </div>
  </div>

  <div class="footer">
    <ul>
      <li>Made in Buffalo, NY.</li>
      <li>Follow <a href="https://twitter.com/openhack">@OpenHack</a> for announcements.</li>
      <li>Inspired by many <a href="http://bostonrb.org">BostonRB</a> hack nights.</li>
      <li><a href="http://github.com/openhack/openhack.github.com">This page is open source.</a></li>
    </ul>
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5087416c613f5d35d000005e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

</body>

</html>
