<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
</head>
<body>
  <header class="jumbotron">
    <div class="container">
      <h1><a href="/">OpenHack</a></h1>
    </div>
  </header>

  <div class="index container">
    <div class="row">
      <div class="cities span3">
        <h2>Cities</h2>
        <ul>
          <li><a href="/buffalo">Buffalo <small>Est. Oct 2012</small></a></li>
          <li><a href="/pittsburgh">Pittsburgh <small>TBA</small></a></li>
          <li><a href="/boston">Boston <small>TBA</small></a></li>
          <li><a href="/new_york">New York <small>TBA</small></a></li>
          <li><a href="/yours">Yours?</a></li>
        </ul>
      </div>
      <div class="main span9">
        {{ content }}
      </div>
    </div>
  </div>

  <div class="footer container">
    <ul>
      <li>Made in Buffalo, NY.</li>
      <li>Inspired by many <a href="http://bostonrb.org">BostonRB</a> hack nights.</li>
      <li><a href="http://github.com/openhack/openhack.github.com">This page is open source.</a></li>
    </ul>
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5087416c613f5d35d000005e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
